################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mana301_DataFilter/v15/Server/sqlite3
/Mana301_DataFilter/obj
